<!-- left column -->
<div id="column1">
  
  <!-- Personal Information -->
  <div id="persinfo">
    <form action="" method="get" name="Personal Info"></form>
  </div>
  
  
  <!-- Interest Profile -->
  <div id="intprof">
    <form action="" method="get" name="Interest Profile"></form>
  </div>
  
</div>

<!-- two right columns -->
<div id="2columns">
  
  <!-- middle column -->
  <div id="column2">
    
    <!-- Topics of Interest -->
    <div id="topint">
      <form action="" method="get" name="Topics of Interest"></form>
    </div>
    
    <!-- Past Queries -->
    <div id="pastqs">
      <form action="" method="get" name="Past Queries"></form>
    </div>
    
  </div>
  
  <!-- right column -->
  <div id="column3">
    
    <!-- Regions of Interest -->
    <div id="regint">
      <form action="" method="get" name="Regions of Interest"></form>
    </div>
    
  </div>
</div>
