<!-- Main text area for search results and sidebars -->
<div id="content">

  <!-- Main search results -->
  <div id="main">
    <% @results.each do |doc| %>
      <div class="result-item">
        <%= link_to doc.docno, document_path(doc.id), :class => 'document-link' %>
        <div class="document-text"><%= truncate(doc.text, length: 150, separator: ' ') %></div>
      </div>
    <% end %>

    <%= will_paginate @results %>
  </div>

  <!-- Similar Users sidebar -->
  <div id="SimUsers">
    <form action="" method="get" name="Similar Users"></form>
  </div>

  <!-- Recommended Queries sidebar -->
  <div id="RecQs">
    <form action="" method="get" name="Recommended Queries"></form>
  </div>

  <!-- Common Regions sidebar -->
  <div id="ComRegs">
    <form action="" method="get" name="Common Regions"></form>
  </div>


</div>
