<!-- Welcome Banner -->
<div id="welcome"></div>

<!-- Login Box -->
<div id="login">
  <%= form_tag :action => :create do %>
    <p>
      <label for="email">Email:</label>
      <input type="text" name="email" id="login">
    </p>

    <p>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </p>

    <p class="login-submit">
      <button type="submit" class="login-button">Login</button>
    </p>
  <% end %>
</div>