
<!-- Main text area for search results and sidebars -->
<div id="content">
  <div id="main-document">
    <%= link_to '&laquo; Back to Results'.html_safe, :back %>
    <h1><%= @document.docno %></h1>
    <p><%= @document.text %></p>
  </div>
</div>